<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTemplate"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:dataExtractionRules,android:fullBackupContent">
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2622117118790581~3892694929" />

        <activity
            android:name=".ui_old.activity.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui_old.activity.choose_language.ChooseLanguageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".ui_old.activity.intro.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui_old.activity.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustNothing"
            tools:ignore="DiscouragedApi">
<!--                <intent-filter>-->
<!--                    <action android:name="android.intent.action.MAIN" />-->
<!--                    <category android:name="android.intent.category.LAUNCHER" />-->
<!--                </intent-filter>-->
        </activity>

        <activity
            android:name=".ui_old.activity.guide.GuideActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustNothing"
            tools:ignore="DiscouragedApi"/>

        <activity
            android:name=".ui_old.activity.main.MainActivity2"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui_old.activity.main.MainActivity3"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui_old.activity.main.MainActivity4"
            android:exported="true"
            android:screenOrientation="portrait" />

     <activity
            android:name=".ui_old.activity.main.MainActivity5"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receiver.NetworkStateMonitor"
            android:exported="true"
            tools:ignore="Instantiatable,MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.ACCESS_NETWORK_STATE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>


        <activity android:name=".ui.TransferEntriesActivity"
            android:label="@string/title_activity_transfer" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".ui.ImportEntriesActivity"
            android:label="@string/title_activity_import_entries" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="otpauth" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ScannerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_scan_qr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EditEntryActivity"
            android:label="@string/title_activity_edit_entry" />
        <activity
            android:name=".ui.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AuthActivity" />
        <activity
            android:name=".ui.PreferencesActivity"
            android:label="@string/title_activity_preferences" />
        <activity
            android:name=".ui.GroupManagerActivity"
            android:label="@string/title_activity_manage_groups" />
        <activity android:name=".ui.AssignIconsActivity"
            android:label="@string/title_activity_assign_icons"/>
        <activity android:name=".ui.LicensesActivity"
            android:label="@string/title_activity_licenses"/>
        <activity
            android:name=".ui.PanicResponderActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ExitActivity" />

        <!-- NOTE: Disabled for now. See issue: #1047
        <service android:name=".services.NotificationService" />
        -->

        <service
            android:name=".services.LaunchAppTileService"
            android:label="@string/tile_open_vault"
            android:icon="@drawable/ic_aegis_quicksettings"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <service
            android:name=".services.LaunchScannerTileService"
            android:label="@string/tile_open_scanner"
            android:icon="@drawable/ic_aegis_quicksettings"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <receiver android:name=".receivers.VaultLockReceiver" android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.LOCK_VAULT" />
            </intent-filter>
        </receiver>

        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />
<!--        <property-->
<!--            android:name="android.adservices.AD_SERVICES_CONFIG"-->
<!--            android:resource="@xml/gma_ad_services_config"-->
<!--            tools:replace="android:resource" />-->
    </application>

</manifest>